.c-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;

  &__title {
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.323077px;
    text-transform: uppercase;
    color: #C0C0C0;
  }

  &__toggle {
    display: flex;
  }

  &__button {
    cursor: pointer;
  }

  &__short {
    margin-left: 6px;
  }
}
