.c-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 55px 0 38px 0;

  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #333333;

  &__user {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__custom {
    margin-left: 10%;
  }

  &__account {
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
      display: block;
      margin-left: 10px;
      font-family: Mukta;
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: 0.33px;
      color: #FF2800;
    }

    svg {
      fill: #FF2800;
    }
  }
}
