.l-wallets {

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -10px;
    width: calc(100% + 20px);

    &.is-short {
      .c-wallet {
        width: 100%;
      }
    }
  }

  &__detail {
    display: flex;
    justify-content: space-between;
  }

  &__sidebar {
    flex-shrink: 0;
    width: 362px;
    margin-right: 20px;
  }

  &__head {
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    flex-grow: 1;
  }

  &__content-name {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.323077px;
    text-transform: uppercase;
    color: #C0C0C0;
    line-height: 37px;
  }

  .c-wallet {
    width: calc(33% - 17px);
    margin: 0 10px 20px;
  }

  .c-wallet-info-control {
    margin-top: 20px;
  }

  .c-dd-wallet {
    margin-right: 5px;
  }
}
