.c-dd-wallet {
  display: flex;
  align-items: center;
  font-family: 'Mukta';

  &__label {
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.3px;
    letter-spacing: 0.32px;
    color: #4E4E4E;
  }

  &__item {
    display: flex;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: rgba(0,0,0,0.04);
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__dropdown {

  }

  .react-dropdown-select {
    border: none;
    width: 60px;
    cursor: pointer;
  }

  .react-dropdown-select-dropdown {
    width: 115px;
  }

  .react-dropdown-select-dropdown-handle {
    color: #1D2024;
    transform-origin: center 50%;
    display: flex;
    align-items: center;
    margin: 0;
  }
}
