html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
}

body.fontLoaded {
  font-family: 'Mukta', sans-serif;
}

#app {
  min-height: 100%;
  min-width: 100%;
}

.u-bold {
  font-weight: 800;
}

.u-upper {
  text-transform: uppercase;
}

.u-button {
  transition: all 0.3s ease;
  max-width: 322px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  min-height: 60px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;

  &:after {
    z-index: -1;
    transition: opacity 0.3s ease;
    content: '';
    background: linear-gradient(90deg, #FF2800 0%, #FF9898 93.57%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:before {
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #E8E8E8 0%, #f0f0f0 93.57%);
  }

  &:disabled {
    &:after {
      opacity: 0;
    }
    &:before {
      opacity: 1;
    }
    &:hover {
      box-shadow: 0 10px 20px rgba(232, 232, 232, 0.25);
    }
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(240, 38, 0, 0.25);
  }
}

label.u-input-label {
  display: block;
  position: relative;
  max-width: 100%;
  border-bottom: 2px #E8E8E8 solid;
  margin-top: 28px;

  &.u-input-center {
    input {
      text-align: center;
    }
  }

  & > div {
    position: absolute;
    left: 100%;
    margin-left: 3px;
    color: #FF2800;
    width: 200px;
    top: 0;
  }
  
  &.is-error {
    border-color: #FF2800;
  }

  input {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px 0;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #C0C0C0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #C0C0C0;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #C0C0C0;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #C0C0C0;
    }
  }
}