.c-sign-restore {
  width: 546px;
  max-width: none;

  .c-sign-in__form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .c-error {
    margin-top: 20px;
  }

  .c-title {
    margin-top: 20px;
  }

  &__success {
    p {
      font-size: 16px;
      line-height: 145%;
      text-align: center;
      color: #333333;
    }
  }

  &__resend {
    margin-top: 35px;
  }

  .c-button {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
