.c-loading {

  &.is-active {
    position: relative;
    pointer-events: none;

    &:after {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  .loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
  }
}
