.c-field-select {

  select {
    background: #F9F9F9;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
    height: 41px;
    width: 100%;
    font-size: 16px;
    padding: 0 15px;
  }
}
