.c-sign-up {

  &__status {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 16px;
  }

  &__another-way {
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #C0C0C0;
    margin-top: 24px;
  }

  &__final-message {
    font-size: 16px;
    line-height: 145%;
    color: #333333;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 611px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

    .c-button {
      width: 296px;
    }
  }

  .is-step-1 {
    .c-button {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
    }
  }

  .is-hidden {
    opacity: 0;
  }

  .is-loading {
    pointer-events: none;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.5);
      z-index: 3;
    }
  }

  .loading-indicator {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: 50%;
    margin-left: -32px;
    z-index: 4;
  }

  .c-error {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}
