.l-settings {
  &__body {
    display: flex;
  }

  &__col {

    &-left {
      flex-shrink: 0;
      width: 270px;
      margin-right: 180px;
    }

    &-right {
      flex-grow: 1;
      position: relative;
    }
  }

  &__info {
    position: absolute;
    max-width: 395px;
    margin-left: 50px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    color: #C0C0C0;

    span {
      color: #FF2800;
    }

    &.is-none {
      top: calc(50% - 133px);
    }
  }

  &__images {
    padding-top: 166px;
    text-align: right;
  }
}
