.c-wallet-info-control {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #4A4A4A;
  font-weight: 800;
  overflow: hidden;

  &__button {
    padding: 18px;
    svg {
      display: block;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background: #FAFAFA;
    }

    &.is-active {
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: #FF9200;
      }
    }
  }
}
