.c-order-card {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 505px;
  padding: 68px 26px 47px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.4px;
  color: #333333;
  min-height: 653px;
  margin-left: auto;
  margin-right: auto;

  &.is-expanded {
    width: 100%;
    max-width: none;
    display: flex;
  }

  .is-sending {
    pointer-events: none;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255,255,255,0.5);
    }

    .loading-indicator {
      top: 50%;
      left: 50%;
      position: absolute;
      margin-top: -32px;
      margin-left: -32px;
      z-index: 1;
    }
  }

  &__text {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  &__img {
    margin-top: 88px;
  }

  .c-button {
    margin-top: 65px;
  }

  &__ordered {
    margin-top: 87px;

    .c-order-card__text {
      margin-top: 91px;
    }
  }

  &__default {
    text-align: center;
    flex-shrink: 1;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__form {
    width: 580px;
    flex-shrink: 0;
    margin-left: 100px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    & + & {
      margin-top: 20px;
    }
  }

  &__column {
    width: calc(50% - 11px);
  }

  .c-title {
    margin-bottom: 25px;
  }
}
