.c-tfa-custom-input {

  &__title {
    max-width: 395px;
    margin: 0 auto;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    color: #C0C0C0;

    span {
      color: #FF2800;
    }
    &.is-paper {
      max-width: 350px;
    }
  }

  &__field {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    input {
      appearance: none;
      user-select: none;
      outline: none;
      box-sizing: border-box;
      display: block;
      width: 50px;
      height: 50px;
      background: none;
      border: 2px solid #E8E8E8;
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      font-weight: bold;
      background-color: #FFFFFF;
    }
  }
}
