.c-sidebar {
  min-height: 100vh;
  width: 163px;
  padding-top: 52px;
  box-shadow: 0 0 40px rgba(81, 81, 81, 0.2);
  flex-shrink: 0;

  &__logo {
    margin-bottom: 65px;
    padding-left: 28px;
  }
}
