.c-field-password {
  position: relative;

  button {
    display: block;
    width: 24px;
    height: 22px;
    position: absolute;
    right: 5px;
    top: 11px;
    cursor: pointer;
  }

  .c-password-attention {
    position: absolute;
    top: 100%;
    margin-top: 12px;
    left: 50%;
    margin-left: -204px;
  }
}
