.c-navigation {

  a {
    height: 77px;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease;
    padding-left: 28px;

    span {
      opacity: 0.5;
    }

    &:hover {
      background: #F4F4F4;
      text-decoration: none;
    }
  }

  &__item {
    &.is-active {
      background: #F4F4F4;
      position: relative;
      text-decoration: none;

      span {
        opacity: 1;
      }

      &:before {
        content: '';
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        width: 5px;
        position: absolute;
        background: #FF2600;
      }
    }
  }

  &__icon {
    width: 34px;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 145%;
    text-align: center;
    color: #4A4A4A;
  }
}
