.c-password-attention {
  width: 408px;
  text-align: left;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0 10px 20px rgba(90, 90, 90, 0.2);
  border-radius: 10px;

  &__head {
    padding: 14px 30px;
    border-bottom: 2px solid #E8E8E8;
    display: flex;
    align-items: center;

    b {
      font-weight: bold;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #C0C0C0;
      margin-right: 10px;
    }
  }

  &__content {
    padding: 20px 30px;

    p {
      font-size: 16px;
      line-height: 145%;
      color: #C0C0C0;
      margin-bottom: 17px;
    }

    li {
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
      }
    }

    li + li {
      margin-top: 18px;
    }
  }

  .is-red {
    color: #FF2600;
  }

  .is-orange {
    color: #FF9200;
  }

  .is-blue {
    color: #41B3C2;
  }
}
