.c-wallet {
  background: #FFFFFF;
  box-shadow: 0 30px 98px rgba(223, 223, 223, 0.9);
  border-radius: 10px;
  padding: 26px 28px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }

  &__head {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.175px;
    text-transform: uppercase;
    color: #333333;

    svg {
      margin-right: 10px;
    }
  }

  &__info {
    margin-top: 10px;
    text-align: right;
  }

  &__summary {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #4A4A4A;
    text-transform: uppercase;
  }

  &__eq {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: #C0C0C0;
    margin-top: 14px;
  }

  &__fee {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: #5EB1BF;
    margin-top: 5px;
  }

  &__additional {
    background: #F9F9F9;
    border-radius: 2px;
    padding: 10px 15px;
    margin-top: 38px;

    &-head {
      display: flex;
      justify-content: space-between;
    }
  }

  &__date {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #C0C0C0;
  }

  &__red,
  &__green {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  &__green {
    color: #6ACC73;
  }

  &__red {
    color: #FF2800;
  }

  &__transaction {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #333333;
    margin-top: 10px;
  }

  &.is-short {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .c-wallet__summary {
      font-size: 20px;
    }

    .c-wallet__eq,
    .c-wallet__fee,
    .c-wallet__additional {
      display: none;
    }
  }
}
