.c-button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;

  &.is-default {
    border: 2px solid #41B3C2;
    background: #fff;
    color: #41B3C2;
  }

  &.is-filled {
    color: #fff;
    background: #41B3C2;

    &[disabled] {
      background: #BAE3E9;
    }
  }

  &.is-red {
    background: #FF2600;
    color: #fff;

    &[disabled] {
      background: #FFA999;
    }
  }
}
