.c-send {
  background: #FFFFFF;
  box-shadow: 0 10px 48px rgba(223, 223, 223, 0.9);
  border-radius: 10px;
  padding-top: 40px;

  &__info-item {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.276923px;
    text-transform: uppercase;
    color: #C0C0C0;
  }

  &__label {
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.276923px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #C0C0C0;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    padding: 22px 32px 29px;
  }

  &__row {
    display: flex;

    & + .c-send__label {
      margin-top: 23px;
    }

    & > * + * {
      margin-left: 30px;
    }

    &.is-foot {
      margin-top: 40px;
      align-items: center;

      button {
        width: 215px;
      }
    }
  }

  &__address {
    input {
      width: 322px;
    }
  }

  &__amount {
    input {
      width: 147px;
    }
  }
}
