.c-field-text {
  display: block;
  position: relative;

  & + & {
    margin-top: 31px;
  }

  &.is-error {
    input {
      border: 1px solid #FF2600;
    }
  }

  &.is-center {
    text-align: center;

    input {
      text-align: center;
      &:-ms-input-placeholder,
      &::-moz-placeholder,
      &:-moz-placeholder,
      &::-webkit-input-placeholder {
        text-align: center;
      }
    }
  }

  &.is-left {
    text-align: left;

    input {
      text-align: left;
      &:-ms-input-placeholder,
      &::-moz-placeholder,
      &:-moz-placeholder,
      &::-webkit-input-placeholder {
        text-align: left;
      }
    }
  }

  &.is-right {
    text-align: right;

    input {
      text-align: right;
      &:-ms-input-placeholder,
      &::-moz-placeholder,
      &:-moz-placeholder,
      &::-webkit-input-placeholder {
        text-align: right;
      }
    }
  }

  input {
    background: #F9F9F9;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
    color: #333333;
    padding: 6px 15px;
    width: 100%;

    &:focus {
      border: 1px solid #41B3C2;
    }
  }

  select + div,
  input + div {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FF2800;
    padding: 0 16px;
  }

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #C0C0C0;
  }

  &__atop-placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #C0C0C0;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    padding-right: 15px;
    padding-left: 5px;
    background: #F9F9F9;
    display: flex;
    align-items: center;
  }
}
