.c-wallet-expanded {
  background: #FFFFFF;
  box-shadow: 0 20px 28px rgba(223, 223, 223, 0.9);
  border-radius: 10px;
  padding: 20px 27px;

  &__label {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #C0C0C0;
  }

  &__summ {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3;
    color: #4A4A4A;
    margin-top: 5px;
    text-transform: uppercase;
  }

  &__eq {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: #C0C0C0;
    text-transform: uppercase;
  }

  &__foot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 35px;
  }

  &__code-label {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #8A8A8A;
    cursor: pointer;
  }

  &__code {
    margin-top: 15px;
    background: #F9F9F9;
    border-radius: 2px;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #333333;
    width: 100%;
  }
}
