.c-profile {
  width: 444px;
  margin-top: 42px;
  background: #FFFFFF;
  box-shadow: 0px 30px 98px rgba(223, 223, 223, 0.9);
  border-radius: 10px;

  &__head {
    display: flex;
    padding: 24px 22px;
    border-bottom: 3px solid #EEEEEE;

    &-icon {
      width: 79px;
      height: 79px;
      margin-left: 10px;

      svg {
        fill: #C0C0C0;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 24px;

      p {
        margin: 0;
        font-family: Mukta;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.3px;
        color: #333333;
      }

      svg {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        fill: #C0C0C0;
      }
    }
  }

  &__body {
    padding: 68px 60px 54px;

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      span {
        display: block;
        font-family: Mukta;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.225px;
        color: #333333;
      }

      svg {
        cursor: pointer;
        margin-left: 15px;
        fill: #C0C0C0;
      }
    }

    &-logout {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-top: 54px;

      span {
        display: block;
        margin-left: 10px;
        font-family: Mukta;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.33px;
        color: #FF2800;
      }

      svg {
        fill: #FF2800;
      }
    }
  }
}

.c-data-block {
  margin-bottom: 20px;
  font-family: Mukta;

  &__label {
    display: block;
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.33px;
    text-transform: uppercase;
    color: #C0C0C0;
  }

  &__info {
    display: block;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.45px;
    color: #333333;
  }
}
