.c-sign-in {
  max-width: 400px;
  text-align: center;

  margin: 90px auto;

  &__form {
    margin-top: 65px;
  }

  &__margin-row {
    margin-top: 36px;

    &.is-small {
      margin-top: 29px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 16px;
    justify-content: center;

    & > * {
      margin: 0 7px;
    }

    button {
      transition: all 0.3s ease;
      width: 80px;
      height: 40px;
      padding: 2px 0 0 0;
      border: none;
      outline: none;
      background: #FFF;
      text-transform: uppercase;
      color: #333;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      &.is-active {
        background: #FAFAFA;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .c-button,
  &__submit {
    margin-top: 50px;
  }
}
