.c-transactions {
  background: #FFFFFF;
  box-shadow: 0 10px 48px rgba(223, 223, 223, 0.9);
  border-radius: 10px;

  &__head {
    padding: 26px 32px 0;
    border-bottom: 2px solid #EDEDED;
  }

  &__filter {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.323077px;
    color: #333333;
    margin-bottom: -2px;

    > * + * {
      margin-left: 15px;
    }
  }

  &__button {
    cursor: pointer;
    padding-bottom: 7px;
    border-bottom: 3px solid #EDEDED;
    width: 81px;
    text-align: center;

    &.is-active {
      border-color: #FF9200;
    }
  }

  &__log {
    margin-top: 39px;
  }

  &__map {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.276923px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding: 0 62px;

    span:nth-child(1) {
      width: 13%;
    }

    span:nth-child(2) {
      width: 50%;
    }

    span:nth-child(3) {
      width: 24%;
    }

    span:nth-child(4) {
      width: 13%;
    }
  }

  &__item {
    padding: 0 32px;

    &-head {
      background: #F2F2F2;
      border-top: 2px solid #C0C0C0;
      display: flex;
      align-items: center;
      padding: 10px 30px;
    }

    &-status {
      width: 13%;
      padding-left: 12px;
    }

    &-date {
      width: 50%;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.3px;
      color: #333333;
    }

    &-amount {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.3px;
      color: #6ACC73;
      width: 24%;

      .is-negative {
        color: #FF2800;
      }
    }

    &-fee {
      width: 13%;
      font-size: 12px;
      line-height: 20px;
      color: #333333;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      padding: 12px 32px 30px;
    }

    &-label {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.276923px;
      text-transform: uppercase;
      color: #C0C0C0;
    }

    &-card {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.3px;
      color: #333333;
    }
  }
}
