.c-auth-buttons {

  &__title {
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #C0C0C0;
  }

  &__controls {
    margin-top: 15px;

    &-btn {
      appearance: none;
      user-select: none;
      outline: none;
      cursor: pointer;
      width: 80px;
      height: 40px;
      margin-right: 14px;
      border: 0;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 16px;
      color: #333333;
      background-color: #FFFFFF;
      box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);

      &.is-active {
        background-color: #FAFAFA;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
