.c-exchange {

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 745px;
  height: 540px;
  padding: 55px 80px 55px 70px;

  &__course {
    font-family: Mukta;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FF9505;
    margin-bottom: 55px;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__input {
    font-family: Mukta;
    background: #F9F9F9;
    border-radius: 2px;
    border: none;
    padding: 15px 35px;
    max-height: 59px;
    width: 50%;
    font-size: 20px;
    color: #333333;
    -webkit-appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__select {
    height: 59px;
    line-height: 59px;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 11px rgba(217, 217, 217, 0.9);

    .react-dropdown-select {
      height: 59px;
      padding: 0 30px 0 0;
      border: 0;
      outline: none;
    }

    .react-dropdown-select-dropdown-handle {
      color: #333;

      svg {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__content {
    .c-exchange__item {
      &:hover {
        background: none;
      }
    }
  }

  &__item {
    cursor: pointer;
    font-family: Mukta;
    font-size: 20px;
    letter-spacing: 0.3px;
    color: #333333;
    padding: 5px 0 5px 40px;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  &__convertation {
    margin: 0 0 25px 35px;
  }

  &__button {
    background: linear-gradient(90deg, #FF2800 0%, #FF9898 93.57%);
    box-shadow: 0px 6px 10px rgba(137, 23, 1, 0.404042);
    border-radius: 4px;
    text-align: center;
    height: 60px;
    padding: 0 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    border: none;
    outline: none;
    display: inline-block;
    margin-top: 35px;
    cursor: pointer;
  }
}
