.c-auth-codes {
  margin-top: 11px;
  padding-bottom: 38px;

  &__row {
    display: flex;
    margin-bottom: 30px;
  }

  &__col {
    width: 50%;

    &-item {

    }

    &.is-left {
      margin-left: 15%;
    }

    &.is-right {
      margin-right: 15%;
    }
  }

  .count,
  .code {
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    color: #333333;
  }

  .btn-default {
    width: 60%;

    svg {
      margin-right: 10px;
    }
  }
}
