.c-non-authorized {
  max-width: 663px;
  margin: 70px auto;
  text-align: center;

  &__content {
    margin-top: 62px;
  }

  form {
    margin-top: 49px;
  }

  .c-field-text {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
