.c-receive-log {
  background: #FFFFFF;
  box-shadow: 0 10px 48px rgba(223, 223, 223, 0.9);
  border-radius: 10px;
  padding: 35px 32px 38px;

  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid #C0C0C0;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.27px;
    text-transform: uppercase;
    color: #C0C0C0;
  }

  &__item {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;

    .c-receive-log__status {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.276px;
      text-transform: uppercase;
      color: #49B5C3;

      span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: block;
        background: #49B5C3;
        margin-right: 5px;
      }
    }

    .c-receive-log__address {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.3px;
      color: #333333;
    }
  }

  &__status {
    width: 30%;
  }

  &__address {
    width: 50%;
  }

  &__copy {
    width: 20%;
    padding-right: 30px;
    text-align: right;

    img {
      cursor: pointer;
    }
  }
}
