.app-wrapper {
  min-width: 1200px;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #C0C0C0;

  a {
    color: #41B3C2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.l-dashboard {
  display: flex;

  &__content {
    flex-grow: 1;
    padding: 0 61px 30px;
  }

  .c-order-card {
    margin: 0 auto;
  }
}

.u-link {
  display: inline-flex;
  align-items: center;

  &.is-simple {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.35px;
    color: #1D2024;

    &:hover {
      color: #1D2024;
      text-decoration: underline;
    }
  }

  span {
    margin-left: 5px;
  }
}

.c-pagination {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 38px 0 30px;
  list-style: none;

  li {
    list-style: none;
    margin: 0 5px;
  }

  li.is-active {
    a {
      color: #42434B;
    }
  }

  a {
    cursor: pointer;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.32px;
    color: #C0C0C0;
  }
}

.btn {
  user-select: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;

  &-primary {
    padding: 14px 35px;
    border-radius: 4px;
    box-shadow: 0px 6px 10px rgba(137, 23, 1, 0.404042);
    color: #fff;
    background: linear-gradient(90deg, #ff2800 0%, #ff9898 93.57%);

  }

  &-default {
    padding: 12px 55px;
    box-shadow: 0px 2px 11px rgba(217, 217, 217, 0.9);
    color: #333;
    background-color: #FFFFFF;
  }
}
