.c-auth-form {
  flex-shrink: 0;
  width: 500px;
  margin-top: 90px;
  background: #FFFFFF;
  box-shadow: 0px 30px 98px rgba(223, 223, 223, 0.9);
  border-radius: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0;
    border-bottom: 1px solid #E5E5E5;

    &-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 5px 0;
      border-bottom: 3px solid transparent;

      svg {
        margin-right: 10px;
        fill: #C0C0C0;
      }

      span {
        line-height: 27px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        color: #C0C0C0;
      }

      &.is-active {
        border-bottom: 3px solid #FF2800;

        svg {
          fill: #333;
        }

        span {
          color: #333;
        }
      }
    }

    &-message {
      width: 100%;
      margin: 0;
      padding: 4px 0 11px;
      line-height: 25px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      color: #C0C0C0;
    }
  }

  &__body {
    padding: 30px;
    padding-top: 29px;
    text-align: center;

    &-input {
      appearance: none;
      user-select: none;
      outline: none;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px 40px 10px 10px;
      border: 0;
      border-bottom: 1px solid #E8E8E8;
      line-height: 11px;
      font-size: 16px;
      color: #C0C0C0;
    }

    .c-tfa-custom-input {

      &__title {
        margin: 27px auto 0;
      }

      &__field {
        margin-bottom: 50px;
      }
    }

    .input-group {
      padding-top: 27px;
      padding-bottom: 38px;

      &__item {
        position: relative;
      }
    }

    .btn-primary {
      width: 75%;
    }
  }
}

.c-copy-svg {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 5px);
  right: 10px;
  fill: #C0C0C0;
  transform: translateY(-50%);
}
